<!DOCTYPE HTML>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>Home</title>
 </head>
 <body>
  <fieldset>
 <legend>form aplikasi Golang</legend>

  <form method="post" action="/createUsers">
  <table>
    <tr>
	<td>username</td>
    <td><input type="text" name="username" placeholder="Username"></td>
    </tr>
	<tr>
	<td>First Name</td>
	<td><input type="text" name="firstName" placeholder="First Name"></td>
	</tr>
	<tr>
	<td>Last Name</td>
    <td><input type="text" name="lastName" placeholder="Last Name"></td>
	</tr>
	<tr>
	<td>password</td>
    <td><input type="password" name="password" placeholder="Password"></td>
	</tr>
    <td><input type="submit" value="Add Users"></td>
	</table>
   </form>
   </fieldset>
 </body>
</html>